.grid6
  .box
    %h2 Dodaj nowy wykład
    = form_for(@lecture, :action => resource(:lectures)) do
      = partial 'form'

      .actions
        = submit "Dodaj"
        Po dodaniu wykładu będziesz mógł dodać zdjęcia.