.grid8
  #users.box
    %h2 Lista użytkowników
    %ul
      - for user in @users
        %li
          .login= link_to user.login, resource(user)
          .name= user.name
          .faculty
            = link_to user.faculty.code, resource(user.faculty)
            (
            = user.year
            )
     
      