%table.lectures
  - for lecture in @lectures
    %tr{:title => lecture.description}
      %td.date= format_datetime(lecture.date)
      %td.name= link_to lecture.name, resource(lecture)
      %td.meta
        = link_to lecture.faculty.code, url(:faculty, lecture.faculty.code)
        \/
        = link_to lecture.lecturer.name, url(:lectures, :l => lecture.lecturer.id)
        